<%! from django.utils.translation import ugettext as _ %>
<%! from django.template.defaultfilters import escapejs %>
<%! from django_comment_client.permissions import has_permission %>

<%namespace name='static' file='../static_content.html'/>

% for template_name in ['thread', 'thread-show', 'thread-edit', 'thread-response', 'thread-response-show', 'thread-response-edit', 'response-comment-show', 'response-comment-edit', 'thread-list-item']:
<script aria-hidden="true" type="text/template" id="${template_name}-template">
    <%static:include path="js/discussion/${template_name}.underscore" />
</script>
% endfor

<script aria-hidden="true" type="text/template" id="discussion-home">
  <div class="discussion-article blank-slate">
    <section class="home-header">
      <span class="label">${_("DISCUSSION HOME:")}</span>
      % if course and course.display_name_with_default:
        <h1 class="home-title">${course.display_name_with_default}</h1>
      % endif
    </section>

      % if settings.FEATURES.get('ENABLE_DISCUSSION_HOME_PANEL'):
        <span class="label label-settings">
          ${_("How to use {platform_name} discussions").format(platform_name=settings.PLATFORM_NAME)}
        </span>
        <table class="home-helpgrid">
          <tr class="helpgrid-row helpgrid-row-navigation">
            <td class="row-title">${_("Find discussions")}</td>
            <td class="row-item">
              <i class="icon fa fa-reorder"></i>
              <span class="row-description">${_("Focus in on specific topics")}</span>
            </td>
            <td class="row-item">
              <i class="icon fa fa-search"></i>
              <span class="row-description">${_("Search for specific posts ")}</span>
            </td>
            <td class="row-item">
              <i class="icon fa fa-sort"></i>
              <span class="row-description">${_("Sort by date, vote, or comments")}</span>
            </td>
          </tr>
          <tr class="helpgrid-row helpgrid-row-participation">
            <td class="row-title">${_("Engage with posts")}</td>
            <td class="row-item">
              <i class="icon fa fa-plus"></i>
              <span class="row-description">${_("Upvote posts and good responses")}</span>
            </td>
            <td class="row-item">
              <i class="icon fa fa-flag"></i>
              <span class="row-description">${_("Report Forum Misuse")}</span>
            </td>
            <td class="row-item">
              <i class="icon fa fa-star"></i>
              <span class="row-description">${_("Follow posts for updates")}</span>
            </td>
          </tr>
          <tr class="helpgrid-row helpgrid-row-notification">
            <td class="row-title">${_('Receive updates')}</td>
            <td class="row-item-full" colspan="3">
              <label for="email-setting-checkbox">
                <span class="sr">${_("Toggle Notifications Setting")}</span>
                <span class="notification-checkbox">
                  <input type="checkbox" id="email-setting-checkbox" class="email-setting" name="email-notification"/>
                  <i class="icon fa fa-envelope"></i>
                </span>
              </label>
              <span class="row-description">${_("Check this box to receive an email digest once a day notifying you about new, unread activity from posts you are following.")}</span>
            </td>
          </tr>
        </table>
      % endif
     </div>
</script>

<script aria-hidden="true" type="text/template" id="search-alert-template">
    <div class="search-alert" id="search-alert-${'<%- cid %>'}">
        <div class="search-alert-content">
          <p class="message">${'<%= message %>'}</p>
        </div>

        <div class="search-alert-controls">
          <a href="#" class="dismiss control control-dismiss"><i class="icon fa fa-remove"></i></a>
        </div>
    </div>
</script>

<script aria-hidden="true" type="text/template" id="new-post-template">
    <form class="forum-new-post-form">
        <ul class="post-errors" style="display: none"></ul>
        <div class="forum-new-post-form-wrapper"></div>
        ${'<% if (cohort_options) { %>'}
        <div class="post-field">
            <label class="field-label">
                <span class="field-label-text">
                    ## Translators: This labels the selector for which group of students can view a post
                    ${_("Visible To:")}
                </span><select class="field-input js-group-select" name="group_id" ${'<% if (!is_commentable_cohorted) { %>'}disabled${'<% } %>'}>
                    <option value="">${_("All Groups")}</option>
                    ${'<% _.each(cohort_options, function(opt) { %>'}
                    <option value="${'<%= opt.value %>'}" ${'<% if (opt.selected) { %>selected<% } %>'}>${'<%- opt.text %>'}</option>
                    ${'<% }); %>'}
                 </select>
            </label><div class="field-help">
                ${_("Discussion admins, moderators, and TAs can make their posts visible to all students or specify a single cohort group.")}
            </div>
        </div>
        ${'<% } %>'}
        <div class="post-field">
            <label class="field-label">
                <span class="sr">${_("Title:")}</span>
                <input type="text" class="field-input js-post-title" name="title" placeholder="${_('Title')}">
            </label><span class="field-help">
                ${_("Add a clear and descriptive title to encourage participation.")}
            </span>
        </div>
        <div class="post-field js-post-body editor" name="body" data-placeholder="${_(u'Enter your question or comment…')}"></div>
        <div class="post-options">
            <label class="post-option is-enabled">
                <input type="checkbox" name="follow" class="post-option-input js-follow" checked>
                <i class="icon fa fa-star"></i>${_("follow this post")}
            </label>
            ${'<% if (allow_anonymous) { %>'}
            <label class="post-option">
                <input type="checkbox" name="anonymous" class="post-option-input js-anon">
                ${_("post anonymously")}
            </label>
            ${'<% } %>'}
            ${'<% if (allow_anonymous_to_peers) { %>'}
            <label class="post-option">
                <input type="checkbox" name="anonymous_to_peers" class="post-option-input js-anon-peers">
                ${_("post anonymously to classmates")}
            </label>
            ${'<% } %>'}
        </div>
        <div>
            <input type="submit" class="submit" value="${_('Add Post')}">
            <a href="#" class="cancel">${_('Cancel')}</a>
        </div>
    </form>
</script>

<script aria-hidden="true" type="text/template" id="thread-type-template">
    <div class="post-field">
        <div class="field-label">
            <span class="field-label-text">
                ## Translators: This is the label for a control to
                ## select a forum post type
                ${_("Post type:")}
            </span><fieldset class="field-input">
                <input type="radio" name="${"<%= form_id %>"}-post-type" class="post-type-input" id="${"<%= form_id %>"}-post-type-question" value="question">
                <label for="${"<%= form_id %>"}-post-type-question" class="post-type-label">
                    <i class="icon fa fa-question"></i>
                    ## Translators: This is a forum post type
                    ${_("Question")}
                </label>
                <input type="radio" name="${"<%= form_id %>"}-post-type" class="post-type-input" id="${"<%= form_id %>"}-post-type-discussion" value="discussion" checked>
                <label for="${"<%= form_id %>"}-post-type-discussion" class="post-type-label">
                    <i class="icon fa fa-comments"></i>
                    ## Translators: This is a forum post type
                    ${_("Discussion")}
                </label>
            </fieldset>
        </div><span class="field-help">
            ${_("Questions raise issues that need answers. Discussions share ideas and start conversations.")}
        </span>
    </div>
</script>

<script aria-hidden="true" type="text/template" id="new-post-menu-entry-template">
    <li role="menuitem" class="topic-menu-item">
        <a href="#" class="topic-title" data-discussion-id="${'<%- id %>'}" data-cohorted="${'<%- is_cohorted %>'}">${'<%- text %>'}</a>
    </li>
</script>

<script aria-hidden="true" type="text/template" id="new-post-menu-category-template">
    <li role="menuitem" class="topic-menu-item">
        <span class="topic-title">${'<%- text %>'}</span>
        <ul role="menu" class="topic-submenu">${'<%= entries %>'}</ul>
    </li>
</script>

<script aria-hidden="true" type="text/template" id="topic-template">
    ## Using div here instead of label because we are using a non-native control
    <div class="field-label">
        <span class="field-label-text">${_("Topic Area:")}</span><div class="field-input post-topic">
            <a href="#" class="post-topic-button">
                <span class="sr">${_("Discussion topics; current selection is: ")}</span>
                <span class="js-selected-topic"></span>
                <span class="drop-arrow" aria-hidden="true">▾</span>
            </a>
            <div class="topic-menu-wrapper">
                <label class="topic-filter-label">
                    <span class="sr">${_("Filter topics")}</span>
                    <input type="text" class="topic-filter-input" placeholder="${_('Filter topics')}">
                </label>
                <ul class="topic-menu" role="menu">${'<%= topics_html %>'}</ul>
           </div>
       </div>
    </div><span class="field-help">
        ${_("Add your post to a relevant topic to help others find it.")}
    </span>
</script>

<%def name="primaryAction(action_class, icon, sr_label, unchecked_label, checked_label)">
    <script type="text/template" id="forum-action-${action_class}">
        <li class="actions-item">
            <a href="javascript:void(0)" class="action-button action-${action_class}" role="checkbox" aria-checked="false">
                <span class="sr">${sr_label}</span>
                <span class="action-label" aria-hidden="true">
                    <span class="label-unchecked">${unchecked_label}</span>
                    <span class="label-checked">${checked_label}</span>
                </span>
                <span class="action-icon"><i class="icon fa fa-${icon}"></i></span>
            </a>
        </li>
    </script>
</%def>

${primaryAction("endorse", "ok", _("Endorse"), _("Endorse"), _("Unendorse"))}
${primaryAction("answer", "ok", _("Mark as Answer"), _("Mark as Answer"), _("Unmark as Answer"))}
${primaryAction("follow", "star", _("Follow"), _("Follow"), _("Unfollow"))}

<script type="text/template" id="forum-action-vote">
    <li class="actions-item">
        <span aria-hidden="true" class="display-vote" >
          <span class="vote-count"></span>
        </span>
        <a href="#" class="action-button action-vote" role="checkbox" aria-checked="false">
            ## Vote counts are populated by JS
            <span class="sr">${_("Vote")}</span>
            <span class="sr js-sr-vote-count"></span>

            <span class="action-label" aria-hidden="true">
              <span class="vote-count"></span>
            </span>

            <span class="action-icon" aria-hidden="true">
                <i class="icon fa fa-plus"></i>
            </span>
        </a>
    </li>
</script>

<%def name="secondaryStateAction(action_class, icon, sr_label, unchecked_label, checked_label)">
    <script type="text/template" id="forum-action-${action_class}">
        <li class="actions-item">
            <a href="javascript:void(0)" class="action-list-item action-${action_class}" role="checkbox" aria-checked="false">
                <span class="sr">${sr_label}</span>
                <span class="action-label" aria-hidden="true">
                    <span class="label-unchecked">${unchecked_label}</span>
                    <span class="label-checked">${checked_label}</span>
                </span>
                <span class="action-icon">
                  <i class="icon fa fa-${icon}"></i>
                </span>
            </a>
        </li>
    </script>
</%def>

${secondaryStateAction("report", "flag", _("Report abuse"), _("Report"), _("Unreport"))}
${secondaryStateAction("pin", "thumb-tack", _("Pin"), _("Pin"), _("Unpin"))}
${secondaryStateAction("close", "lock", _("Close"), _("Close"), _("Open"))}

<%def name="secondaryAction(action_class, icon, label)">
    <script type="text/template" id="forum-action-${action_class}">
        <li class="actions-item">
            <a href="javascript:void(0)" class="action-list-item action-${action_class}" role="button">
                <span class="action-label">${label}</span>
                <span class="action-icon"><i class="icon fa fa-${icon}"></i></span>
            </a>
        </li>
    </script>
</%def>

${secondaryAction("edit", "pencil", _("Edit"))}
${secondaryAction("delete", "remove", _("Delete"))}

<script type="text/template" id="forum-actions">
    <ul class="${"<%= contentType %>"}-actions-list">
        ${"<% _.each(primaryActions, function(action) { print(_.template($('#forum-action-' + action).html(), {})) }) %>"}
        <li class="actions-item is-visible">
            <div class="more-wrapper">
                <a href="javascript:void(0)" class="action-button action-more" role="button" aria-haspopup="true" aria-controls="action-menu-${"<%= contentId %>"}">
                    <span class="action-label">${_("More")}</span>
                    <span class="action-icon"><i class="icon fa fa-ellipsis-h"></i></span>
                </a>
                <div class="actions-dropdown" id="action-menu-${"<%= contentType %>"}" aria-expanded="false">
                  <ul class="actions-dropdown-list">
                    ${"<% _.each(secondaryActions, function(action) { print(_.template($('#forum-action-' + action).html(), {})) }) %>"}
                  </ul>
                </div>
            </div>
        </li>
    </ul>
</script>

<script aria-hidden="true" type="text/template" id="post-user-display-template">
    ${"<% if (username) { %>"}
    <a href="${'<%- user_url %>'}" class="username">${'<%- username %>'}</a>
        ${"<% if (is_community_ta) { %>"}
        <span class="user-label-community-ta">${_("Community TA")}</span>
        ${"<% } else if (is_staff) { %>"}
        <span class="user-label-staff">${_("Staff")}</span>
        ${"<% } %>"}
    ${"<% } else { %>"}
    ${_('anonymous') | h}
    ${"<% } %>"}
</script>
